@media (max-width: 1200px) {
  #sidebar {
    display: none;
  }
  #main {
    padding-left: 0px;
  }
  .scroll {
    height: auto;
  }
}
@media (max-width: 1024px) {}
@media (max-width: 768px) {}
@media (max-width: 600px) {}
@media (max-width: 480px) {}
@media (max-width: 320px) {}
