@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 360px;
  height: 100vh;
  box-sizing: border-box;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#main {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 360px;
  width: 100%;
  box-sizing: border-box;
}
.scroll {
  overflow: auto;
  height: 100vh;
}

.sidebar {
  position: relative;
  width: 100%;
  height: 100%;
}
.sidebar .logo {
  position: absolute;
  box-sizing: border-box;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  width: 95%;
  background-color: #fff;
  z-index: 100;
  height: 10vh;
  line-height: 10vh;
}
.sidebar .category {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  overflow: auto;
}
.sidebar .category a {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 1rem;
  color: #888;
}
.sidebar .category a:hover {
  color: #333;
  transition: all .3s;
}
.sidebar .category a i {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) rotateZ(0deg);
}
.sidebar .category a.on {
  color: #333;
}
.sidebar .category a.on i {
  color: #333;
  transform-origin: center;
  transform: translateY(-50%) rotateZ(90deg);
  display: inline-block;
}
.sidebar .category ul {
  padding-left: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
.sidebar .category a.on+ul {
  max-height: fit-content;
  transition: max-height 1s;
}
.sidebar .category ul .item {
  padding-right: 30px;
}
.sidebar .category ul .item .link {
  position: relative;
  border-radius: 8px;
  padding-left: 10px;
}
.sidebar .category ul .item .link:hover {
  padding-left: 15px;
  transition: all .3s;
}
.sidebar .category ul .item .link.on {
  padding-left: 15px;
  transition: all .3s;
}
.sidebar .category ul .item .link:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: #888;
  border-radius: 50%;
}
.sidebar .category ul .item .link.on:before {
  width: 11px;
  height: 11px;
  top: 50%;
  left: -10px;
  background-color: #333;
  transform: translateY(-50%);
  transition: all .3s;
}

.main {
  background-color: #fff;
  overflow: auto;
  height: 100vh;
  box-sizing: border-box ;
} 
.main .article {
  padding: 1rem;
}
.main .article .category {
  font-size: 16px;
  font-weight: 600;
  color: #bbb;
}
.main .article .category i {
  padding: 0 5px;
}
.main .article .title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.main .article .content {
  font-size: 16px;
  padding-bottom: 40px;
}
.main .article .content p {
  word-break: break-all;
  text-align: left;
  cursor: pointer;
}
.main .article .content p:hover {
  background-color: #eee;
}

.main .comment { 
  
}
.main .comment .title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.main .comment .contents {
  padding: 1rem;
}

.main .comment .contents .list {
}
.main .comment .contents .list .item {
  /* border: 1px solid #000; */
  border-top: 1px solid #000;
  padding: 1rem;
}
.main .comment .contents .list .item.reply {
  border-top: none;
  background-color: #eee;
}
.main .comment .contents .list .item:last-child {
  border-bottom: 1px solid #000;
}
.main .comment .contents .list .item .header {
  height: 24px;
  line-height: 24px;
}
.main .comment .contents .list .item .header img {
  margin-left: -6px;
  height: 100%;
}
.main .comment .contents .list .item .header .writer {
  margin-right: 5px;
}
.main .comment .contents .list .item .header .date {}
.main .comment .contents .list .item .content {
  padding: .5rem 0;
}
.main .comment .contents .list .item .content p {}
.main .comment .contents .form {
  display: block;
}
.main .comment .contents .form * {
  outline: none;
}
.main .comment .contents .form h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5% 0;
}
.main .comment .contents .form input[type="text"],
.main .comment .contents .form input[type="password"] {
  float: left;
  width: 35%;
  box-sizing: border-box;
  margin-right: 5%;
  border-radius: 3px;
  padding: 0 12px;
  border: 1px solid #bcbcbc;
  line-height: 32px;
  letter-spacing: -.50px;
  font-family: 'Noto Sans KR', sans-serif;
}
.main .comment .contents .form .checkbox {
  float: left;
  width: 20%;
  box-sizing: border-box;
  line-height: 32px;
}
.main .comment .contents .form .checkbox>* {
  vertical-align: middle;
}
.main .comment .contents .form textarea {
  padding: 7px 12px;
  border: 1px solid #bcbcbc;
  border-radius: 3px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5%;
  resize: none;
  height: 120px;
  line-height: 24px;
  letter-spacing: -.50px;
  font-family: 'Noto Sans KR', sans-serif;
}
.main .comment .contents .form .submit {
  width: 100%;
  margin-top: 5%;
  border: 1px solid #bcbcbc;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
  cursor: pointer;
}